.swiper-button-prev, .swiper-button-next {
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-image: url('../assets/Swiperleft.png');
  }
  
  .swiper-button-prev {
    left: -20px; /* Adjust position */
  }
  
  .swiper-button-next {
    right: -20px; /* Adjust position */
  }
  